/.bash_history
/.cache
/.lesshst
/.local
/.ssh
/.vim
/.viminfo
/.vscode-server
/.wget-hsts
/583_F22_HW1.tgz
/EECS583_HW2Bench.tar.gz
/F22_EECS583_HW2Template
/F22_EECS583_HW2Template.tar.gz
/HW1_template
/myproject
/Final_Project/build/CMakeFiles
/Final_Project/build/finalprojectpass/CMakeFiles
/Final_Project/build/finalprojectpass/cmake_install.cmake
/Final_Project/build/finalprojectpass/Makefile
/Final_Project/build/cmake_install.cmake
/Final_Project/build/CMakeCache.txt
/Final_Project/build/Makefile